*{
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}
header {
    display: grid;
    justify-content: center;
    padding: 15px;
    background-color: rgba(250, 235, 215, 0.822);
    color: #9589af;
}

p {
    text-align: center;
    font-size: large;
}
main{
    
    padding: 27px;
    /* border: 2px solid whitesmoke; */
    display: grid;
    justify-content: center;
    background:linear-gradient(to top ,#9589af,rgba(250, 235, 215, 0.822));
}

main div{
    
    height: 10vh;
    border: none;
    box-sizing: border-box;
    
}
form{
    border: 2px solid rgba(250, 235, 215, 0.822);
    border-radius: 20px;
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 40px;
    padding-left: 40px;
    box-shadow: inset 2px 2px 4px gray;
}
.uname {
    padding: 20px;
}

input{
    background-color: transparent;
    border: 0.5px solid #9589af;
    border-radius: 10px;
    padding: 15px;
}
.uemail{
    padding: 20px;
    border: none;
}
.upassword{
    padding: 20px;
    border: none;
}
.uconfirmpassword{
    padding: 20px;
    border: none;
}
.ugender{
    /* margin-top: 10px; */
    margin-left: 25px;
    padding: 20px;
    border: none;
    font-weight: 350;
}
footer{
    display: grid;
    justify-content:center;
    padding: 19px;
    background-color:#9589af;
    
}

.submit{
    padding: 5px;
    margin: 10px;
    font-weight:700;
    border: 1px;
    border-radius: 10px;
    font-size: large;
    color: #9589af;
}
.clear{
    padding: 5px;
    margin: 10px;
    font-weight:700;
    font-size: large;
    border: 1px;
    border-radius: 10px;
    color: #9589af;
}
.alogin{
    border: 0.05px solid whitesmoke;
    border-radius: 10px;
    padding: 4px;
    display: flex;
    justify-content: center;
    font-weight:600;
    font-size: large;
    color: whitesmoke;
    
}
.buttons{
    display: flex;
    justify-content: center;
    /* cursor: pointer; */
}
.alogin a{
    text-decoration:none;
    color: #0c59ce;
    background-color: whitesmoke;
    border-radius: 5px;
    text-shadow: 2px 3px 3px #5739ff;
}